<a href="https://colab.research.google.com/github/rajvimevada/XML-to-Excel/blob/main/XML_to_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import xml.etree.ElementTree as ET

def parse_timetable(xml_file):
    tree = ET.parse(xml_file)
    root = tree.getroot()

    faculty_timetable = {}
    class_timetable = {}

    for teacher in root.findall("./teachers/teacher"):
        teacher_id = teacher.attrib.get("id", "")
        teacher_name = teacher.attrib.get("name", "")
        if teacher_id:
            faculty_timetable[teacher_id] = []

    for lesson in root.findall("./lessons/lesson"):
        teacher_ids = lesson.attrib.get("teacherids", "").split()
        classroom_ids = lesson.attrib.get("classroomids", "").split()
        subject_id = lesson.attrib.get("subjectid", "")

        if subject_id:
            for teacher_id in teacher_ids:
                if teacher_id:
                    if teacher_id not in faculty_timetable:
                        faculty_timetable[teacher_id] = []
                    faculty_timetable[teacher_id].append(lesson.attrib)

            for classroom_id in classroom_ids:
                if classroom_id:
                    if classroom_id not in class_timetable:
                        class_timetable[classroom_id] = []
                    class_timetable[classroom_id].append(lesson.attrib)


    print("faculty_timetable:")
    for key, value in faculty_timetable.items():
        print(key, value)


    print("class_timetable:")
    for key, value in class_timetable.items():
        print(key, value)

    # Create Excel file
#     excel_file = "output.xlsx"
#     writer = pd.ExcelWriter(excel_file, engine="xlsxwriter")

    # Iterate over faculty timetable
    for teacher_id, timetable in faculty_timetable.items():
        if timetable:
            teacher_element = root.find(f"./teachers/teacher[@id='{teacher_id}']")
            teacher_name = teacher_element.attrib.get("name", "") if teacher_element is not None else ""
            df = pd.DataFrame(timetable)
            #print(df)

#             df.to_excel(writer, sheet_name=teacher_name, index=False)

#     # Save and close the Excel file
#     writer.save()
#     writer.close()

ifile = "inputxmlFile.xml"
parse_timetable(ifile)

**New Start**

In [ ]:
import xml.etree.ElementTree as ET

# Define the XML data class
class XMLData:
    def __init__(self):
        self.periods = []
        self.daysdefs = []
        self.subjects = []
        self.teachers = []
        self.classrooms = []
        self.classes = []
        self.groups = []
        self.lessons = []

# Parse the XML file and populate the XMLData class
def parse_xml(file_path):
    xml_data = XMLData()
    tree = ET.parse(file_path)
    root = tree.getroot()

    # Parse periods
    for period_elem in root.findall("./periods/period"):
        period = {
            "name": period_elem.get("name"),
            "short": period_elem.get("short"),
            "starttime": period_elem.get("starttime"),
            "endtime": period_elem.get("endtime")
        }
        xml_data.periods.append(period)

    # Parse daysdefs
    for daysdef_elem in root.findall("./daysdefs/daysdef"):
        daysdef = {
            "id": daysdef_elem.get("id"),
            "name": daysdef_elem.get("name"),
            "short": daysdef_elem.get("short"),
            "days": daysdef_elem.get("days")
        }
        xml_data.daysdefs.append(daysdef)

    # Parse subjects
    for subject_elem in root.findall("./subjects/subject"):
        subject = {
            "id": subject_elem.get("id"),
            "name": subject_elem.get("name"),
            "short": subject_elem.get("short"),
            "partner_id": subject_elem.get("partner_id")
        }
        xml_data.subjects.append(subject)

    # Parse teachers
    for teacher_elem in root.findall("./teachers/teacher"):
        teacher = {
            "id": teacher_elem.get("id"),
            "name": teacher_elem.get("name"),
            "short": teacher_elem.get("short"),
            "gender": teacher_elem.get("gender"),
            "color": teacher_elem.get("color"),
            "email": teacher_elem.get("email"),
            "mobile": teacher_elem.get("mobile"),
            "partner_id": teacher_elem.get("partner_id"),
            "firstname": teacher_elem.get("firstname"),
            "lastname": teacher_elem.get("lastname")
        }
        xml_data.teachers.append(teacher)

    # Parse classrooms
    for classroom_elem in root.findall("./classrooms/classroom"):
        classroom = {
            "id": classroom_elem.get("id"),
            "name": classroom_elem.get("name"),
            "short": classroom_elem.get("short"),
            "capacity": classroom_elem.get("capacity"),
            "buildingid": classroom_elem.get("buildingid"),
            "partner_id": classroom_elem.get("partner_id")
        }
        xml_data.classrooms.append(classroom)

    # Parse classes
    for class_elem in root.findall("./classes/class"):
        class_data = {
            "id": class_elem.get("id"),
            "name": class_elem.get("name"),
            "short": class_elem.get("short"),
            "classroomids": class_elem.get("classroomids"),
            "teacherid": class_elem.get("teacherid"),
            "grade": class_elem.get("grade"),
            "partner_id": class_elem.get("partner_id")
        }
        xml_data.classes.append(class_data)

    # Parse gropus
    for group_elem in root.findall("./groups/group"):
        group_data = {
            "id": group_elem.get("id"),
            "name": group_elem.get("name"),
            "short": group_elem.get("short"),
            "classinfo": group_elem.get("classid")
        }
        xml_data.groups.append(group_data)

    # Parse lessons
    for lesson_elem in root.findall("./lessons/lesson"):

        lesson_data = {
            "id": lesson_elem.get("id"),
            "classid": lesson_elem.get("classids"),
            "subjectid": lesson_elem.get("subjectid"),
            "periodspercard": lesson_elem.get(" periodspercard"),
            "periodsperweek": lesson_elem.get("periodsperweek"),
            "teacherids": lesson_elem.get("teacherids"),
            "classroomids": lesson_elem.get("classroomids"),
            "groupids": lesson_elem.get("groupids"),
            "termsdefid": lesson_elem.get("termsdefid"),
            "weeksdefid": lesson_elem.get("weeksdefid"),
            "daysdefid": lesson_elem.get("daysdefid"),
            "subjectid": lesson_elem.get("subjectid"),
        }
        xml_data.lessons.append(lesson_data)

    return xml_data

# Usage example
xml_file_path = "inputxmlFile.xml"
xml_data = parse_xml(xml_file_path)

# Access the parsed data
# Access the parsed data
# print("Periods:")
# for period in xml_data.periods:
#     print(f"Name: {period['name']}, Short: {period['short']}, Start Time: {period['starttime']}, End Time: {period['endtime']}")

# print("\nDays Definitions:")
# for daysdef in xml_data.daysdefs:
#     print(f"ID: {daysdef['id']}, Name: {daysdef['name']}, Short: {daysdef['short']}, Days: {daysdef['days']}")

# print("\nSubjects:")
# for subject in xml_data.subjects:
#     print(f"ID: {subject['id']}, Name: {subject['name']}, Short: {subject['short']}, Partner ID: {subject['partner_id']}")

# print("\nTeachers:")
# for teacher in xml_data.teachers:
#     print(f"ID: {teacher['id']}, Name: {teacher['name']}, Short: {teacher['short']}, Gender: {teacher['gender']}, Color: {teacher['color']}, Email: {teacher['email']}, Mobile: {teacher['mobile']}, Partner ID: {teacher['partner_id']}, First Name: {teacher['firstname']}, Last Name: {teacher['lastname']}")

# print("\nClassrooms:")
# for classroom in xml_data.classrooms:
#     print(f"ID: {classroom['id']}, Name: {classroom['name']}, Short: {classroom['short']}, Capacity: {classroom['capacity']}, Building ID: {classroom['buildingid']}, Partner ID: {classroom['partner_id']}")

# print("\nClasses:")
# for class_data in xml_data.classes:
#     print(f"ID: {class_data['id']}, Name: {class_data['name']}, Short: {class_data['short']}, Classroom IDs: {class_data['classroomids']}, Teacher ID: {class_data['teacherid']}, Grade: {class_data['grade']}, Partner ID: {class_data['partner_id']}")

# print("\nGroups:")
# for group_data in xml_data.groups:
#     print(f"ID: {group_data['id']}, Name: {group_data['name']}, Short: {group_data['short']}, Classinfo: {group_data['classinfo']}")

# print("\nlessons:")
# for lesson_data in xml_data.lessons:
#     print(lesson_data)
#     print(f"ID: {lesson_data['id']}, classid: {lesson_data['classid']}, subjectid: {lesson_data['subjectid']}, periodspercard: {lesson_data['periodspercard']}, teacherids: {lesson_data['teacherids']}, classroomids: {lesson_data['classroomids']}, groupids: {lesson_data['groupids']}, termsdefid: {lesson_data['termsdefid']}, weeksdefid: {lesson_data['weeksdefid']}, daysdefid: {lesson_data['daysdefid']}, subjectid: {lesson_data['subjectid']}")

In [ ]:
import pandas as pd

In [ ]:
periods = pd.DataFrame(xml_data.periods)
periods

In [ ]:
daysdefs = pd.DataFrame(xml_data.daysdefs)
daysdefs

In [ ]:
daysdefs=daysdefs.rename(columns={
                "id": "daysdefid",
                "name": "daysdefname"
            })
daysdefs

In [ ]:
subjects=pd.DataFrame(xml_data.subjects)
subjects

In [ ]:
subjects=subjects.rename(columns={
                "id": "subjectid",
                "name": "subjectname"
            })
subjects

In [ ]:
teachers=pd.DataFrame(xml_data.teachers)
teachers

In [ ]:
teachers = teachers.rename(columns={
                "id": "teacherids",
                "name": "teachername"
            })
teachers

In [ ]:
classrooms=pd.DataFrame(xml_data.classrooms)
classrooms

In [ ]:
classrooms = classrooms.rename(columns={
                "id": "classroomids",
                "name": "classroomname"
            })
classrooms

In [ ]:
classes=pd.DataFrame(xml_data.classes)
classes

In [ ]:
classes = classes.rename(columns={
                "id": "classid",
                "name": "classname"
            })
classes

In [ ]:
groups=pd.DataFrame(xml_data.groups)
groups

In [ ]:
groups = groups.rename(columns={
                "id": "groupids",
                "name": "groupname"
            })
groups

In [ ]:
lessons=pd.DataFrame(xml_data.lessons)
lessons

In [ ]:
lessons = lessons.rename(columns={
                "id": "lessonid"
            })
lessons

In [ ]:
lesson_subject=lessons.merge(subjects, on='subjectid', how='outer')
lesson_subject

In [ ]:
lesson_subject_teacher=lesson_subject.merge(teachers, on='teacherids', how='outer')
lesson_subject_teacher

In [ ]:
lesson_subject_teacher_daysdef=lesson_subject_teacher.merge(daysdefs, on='daysdefid', how='outer')
lesson_subject_teacher_daysdef.columns

In [ ]:
lesson_subject_teacher_daysdef_classroom=lesson_subject_teacher_daysdef.merge(classrooms, on='classroomids', how='outer')
lesson_subject_teacher_daysdef_classroom.columns

In [ ]:
lesson_subject_teacher_daysdef_classroom_class=lesson_subject_teacher_daysdef_classroom.merge(classes, on='classid', how='outer')
lesson_subject_teacher_daysdef_classroom_class.columns

In [ ]:
lesson_subject_teacher_daysdef_classroom_class_group=lesson_subject_teacher_daysdef_classroom_class.merge(groups, on='groupids', how='outer')
lesson_subject_teacher_daysdef_classroom_class_group.columns

In [ ]:
temp=lesson_subject_teacher_daysdef_classroom_class_group.groupby('teachername').first()
temp

In [ ]:
temp.columns

In [54]:
n_temp=temp[['teacherids', 'lessonid', 'periodsperweek', 'classroomids_x', 'subjectname', 'color', 'daysdefname', 'classroomname',  'classname', 'groupname']]
n_temp

,teacherids,lessonid,periodsperweek,classroomids_x,subjectname,color,daysdefname,classroomname,classname,groupname
teachername,,,,,,,,,,
ADS,6D874C799038D659,AAF51A9926D3A523,2.0,"67EC1C0F87EDB2E6,CDD41557571C8CE3,ACFEECED15D9...",2CEIT601:TOC,#00FFFF,Any day,None,6CEIT-C,6AB12
AGD,E5D1E808C87FB80D,E9DE162F33F1C6DC,2.0,"67EC1C0F87EDB2E6,CDD41557571C8CE3,ACFEECED15D9...",2CEIT403:ADT,#FFCCFF,Any day,None,4CEIT-B,4AB7
ANP-EC,CAEA975DABA87BE6,C2E61B75B2A67D23,2.0,"7D659EAEFE11DFE3,13013015DC4F5773,52B8BEB26E93...",2CSBS4105:DT-CS,#B0BCF9,Any day,None,4CSBS,Entire class
APM-EC,DBA91E64158EE918,6C8741C258910EC8,4.0,9A225F6F5FF8ABE9,2CEIT6PE8:ITM,#808000,Any day,NBSF209_SEM,2CEIT-D,2AB11
BHS-EC,9AC6A7D698144A27,B81526E865F77F04,2.0,"7D659EAEFE11DFE3,13013015DC4F5773,52B8BEB26E93...",2CSBS4107:MRMM-CS,#CCCCFF,Any day,None,4CSBS,Entire class
...,...,...,...,...,...,...,...,...,...,...
UCP-EC,E25EF31B84047080,1A5658614EEC7ECB,2.0,"67EC1C0F87EDB2E6,7A02C95971BE4B7E,ACFEECED15D9...",2CSBS4101:OS-CS,#800080,Any day,None,4CSBS,4AB20
VKP-EC,769C2781E6C54B66,C5669B9BBB6599BB,1.0,"7D659EAEFE11DFE3,13013015DC4F5773,52B8BEB26E93...",2CSBS4105:DT-CS,#FF0000,Any day,None,4CSBS,Entire class
VRP,9D7248011F51EF80,04F93E3CF200F84F,2.0,"7D659EAEFE11DFE3,52B8BEB26E93A51C,FF00B519A689...",2CEIT6PE4:DSML,#99FF66,Any day,NBGF005A,6CEIT-A,6AB3
YJP,740A318D213A20D4,CB020B224A01ADB4,2.0,"67EC1C0F87EDB2E6,4DF10F4CA4D1D011,ACFEECED15D9...",2CEIT403:ADT,#33CC33,Any day,None,4CEIT-B,4AB7
ZJP,D0EA7A1C8688E2C9,16AABE074CB87DF6,2.0,"67EC1C0F87EDB2E6,4DF10F4CA4D1D011,ACFEECED15D9...",2CEIT604:UED,#C0FFA0,Any day,PG-CLASS,6CEIT-C,6AB11

In [ ]:
n_temp.to_excel('output.xlsx')